body {
     background-image: url("background.png") ;
}
h1,h2,h3,h4{
    text-align: center;
}
h5{
    font-family: cursive ;
    color: white;
    font-size: medium;
}
h4,h6 {
    color: white;
    font-size: medium;
}
a {
    color: yellow;
    text-decoration:none
}
span.evenement {
    color: yellow;
    font-weight : bold
}
